<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息查询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--Custom Theme files-->
    <link href="stylesheets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="stylesheets/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="stylesheets/css/flexslider.css" type="text/css" media="screen" />
    <link rel='stylesheet' type='text/css' href='stylesheets/css/jquery.easy-gallery.css' />
    <!--//Custom Theme files-->
    <!--js-->
    <script src="javascripts/jquery-2.2.3.min.js"></script>
    <script src="javascripts/SmoothScroll.min.js"></script>
    <!--//js-->
    <!--web-fonts-->
    <link href='http://fonts.googleapis.com/css?family=Text+Me+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!--//web-fonts-->
    <!--start-smooth-scrolling-->
    <script type="text/javascript" src="javascripts/move-top.js"></script>
    <script type="text/javascript" src="javascripts/easing.js"></script>
    <script type="text/javascript"></script>
    <script>
    var data="<%=json%>";
    var table=document.getElementById('table');
    for(var i=0;i<data.length;i++){
    var row=table.insertRow(table.rows.length);
    var c1=row.insertCell(0);
    c1.innerHTML=data[i].BrandName;
    var c2=row.insertCell(1);
    c2.innerHTML=data[i].Modul;
    var c3=row.insertCell(2);
    c3.innerHTML=data[i].Quantity;
    var c4=row.insertCell(3);
    c4.innerHTML=data[i].Datecode;
    var c5=row.insertCell(4);
    c5.innerHTML=data[i].Remark;
    var c6=row.insertCell(5);
    c6.innerHTML=data[i].Remark;
    }
    </script>
</head>
<body>

<div  class="banner">
    <div class="container">
        <div class="menu-wrap">
            <nav class="menu">
                <div class="logo">
                    <h1><a href="/index">Mr.Lazy</a></h1>
                </div>
                <div class="icon-list">
                    <ul>
                        <li><a href="index" class="active"><i class="glyphicon glyphicon-home" aria-hidden="true"></i> Home</a></li>
                        <li><a href="conversion" class="active"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i> 积分兑换</a></li>
                        <li><a href="transfer" class="active"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i> Token转账</a></li>
                        <li><a href="consume" class="active"><i class="glyphicon glyphicon-cog" aria-hidden="true"></i> Token消费</a></li>
                        <li><a href="inquire" class="active"><i class="glyphicon glyphicon-picture" aria-hidden="true"></i> 信息查询</a></li>

                    </ul>
                </div>
            </nav>
            <button class="close-button" id="close-button">Close Menu</button>
        </div>
        <button class="menu-button" id="open-button">Open Menu</button>
    </div>
</div>
<!-- projects -->
<div class="projects">
    <div class="container">
        <div class="agileits-title" style="content:'left';font-family: 宋体;font-size: xx-large;color: #f9f2f4;">
            <strong>您的消费信息</strong>
        </div>

        <table id="table" align="left" width="1000px" height="30px" border="1" style="font-family: 宋体;font-size: 20px;margin-top: -80px" >
            <tr width="100%" align="center" aria-setsize="20" bgcolor="#f0f8ff">
                <td>商店名</td>
                <td>消费类别</td>
                <td>消费时间</td>
                <td>消费金额</td>
                <td>积分数</td>
                <td>Token数</td>
            </tr>
        </table>

    </div>
</div>

<div id="portfolio" class="portfolio" style="margin-top: 450px">

    <!-- script for portfolio -->
    <script type='text/javascript' src='javascripts/jquery.easy-gallery.js' ></script>
    <script type='text/javascript'>
        //init Gallery
        $('.portfolio').easyGallery();
    </script>
    <script src="javascripts/easyResponsiveTabs.js" type="text/javascript"></script>

    <!-- //script for portfolio -->

    <!--//smooth-scrolling-of-move-up-->
    <!-- menu-js -->
    <script src="javascripts/classie.js"></script>
    <script src="javascripts/main.js"></script>
    <!-- //menu-js -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/bootstrap.js"></script>
</div>
<!-- //portfolio -->
</body>
</html>